<ion-content
  ><ion-spinner *ngIf="!recipeData"></ion-spinner>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Ingredients</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="recipeData">
    <ion-card
      *ngFor="let ingredient of recipeData.extendedIngredients"
      style="
        display: inline-block;
        width: 150px;
        height: 300px;
        justify-content: center;
        margin: 5px;
        text-align: center;
      "
    >
      <img
        [src]="'https://spoonacular.com/cdn/ingredients_250x250/' + ingredient.image"
        alt="{{ ingredient.name }}"
        style="width: 100px; height: 100px; margin: 10px 0; border-radius: 8px"
      />
      <ion-card-header>
        <ion-card-title>{{ ingredient.name | titlecase }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{ ingredient.measures.metric.amount + ' ' +
          ingredient.measures.metric.unitLong}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-label style="padding-left: 20px">Recipe instructions</ion-label>
  <ol *ngIf="recipeData">
    <li *ngFor="let step of recipeData.analyzedInstructions[0].steps">
      {{ step.step }}
    </li>
  </ol>
</ion-content>
