<ion-content
  ><ion-spinner *ngIf="!recipeData"></ion-spinner>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Ingredients</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="recipeData">
    <ion-card
      *ngFor="let ingredient of recipeData.extendedIngredients"
      style="
        display: inline-block;
        width: 250px;
        height: 350px;
        justify-content: center;
        margin: 5px;
        text-align: center;
      "
    >
      <img
        [src]="'https://spoonacular.com/cdn/ingredients_250x250/' + ingredient.image"
        alt="{{ ingredient.name }}"
        style="width: 100px; height: 100px; margin: 10px 0; border-radius: 8px"
      />
      <ion-card-header>
        <ion-card-title>{{ ingredient.original | titlecase }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="units">
          {{ units === 'metric'? ingredient.measures.metric.amount + ' ' +
          ingredient.measures.metric.unitLong : ingredient.measures.us.amount +
          ' ' + ingredient.measures.us.unitLong }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-title style="padding: 20px">Recipe instructions</ion-title>
  <ion-list *ngIf="recipeData">
    <ion-item *ngFor="let step of recipeData.analyzedInstructions[0].steps">
      <ion-label>{{ step.number + ': ' + step.step }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="toggleFavourites(recipeData.id)">
    <ion-icon
      slot="start"
      [name]="favourited? 'heart' : 'heart-outline'"
    ></ion-icon>
    {{ favourited?' Remove from favourites' : ' Add to favourites' }}
  </ion-button>
</ion-content>
