<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Favourites </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    *ngIf="recipes.length == 0"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      text-align: center;
      color: #999;
      font-size: 1.5rem;
      font-style: italic;
      padding: 1rem;
    "
  >
    <p>No favourites added yet.</p>
  </div>
  <div
    *ngIf="recipes.length > 0"
    style="
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      padding: 10px;
    "
  >
    <ion-card
      *ngFor="let recipe of recipes"
      style="
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin: 5px;
      "
    >
      <img
        [src]="recipe.image"
        style="width: 200px; height: 200px; margin: 10px auto"
      />
      <ion-card-header>
        <ion-card-title>{{ recipe.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="getRecipeDetails(recipe.id)">Details</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
